# Object files
#*.o // para poder usar los hal y otros que no tenemos los fuentes
*.ko

# Libraries
*.lib
#*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
kernel
excep_arit
excep_mem
init
simplon
